@import "../../variables.scss";

.product-item {

    font-size: $font-size-base;
    display  : flex;

    $image-width: 60px * $hd;

    .image {
        width : $image-width;
        height: $image-width;
    }

    .content {
        width     : calc(100% - #{$image-width});
        text-align: left;
        padding   : 0 10px * $hd;

        // .price {
        //     margin-top: 8px * $hd;

        //     .price-color {
        //         color: #f70;
        //     }
        // }

        .name {
            margin-bottom: 8px * $hd;
        }

        .row {
            margin       : 0;
            padding      : 0;
            margin-bottom: 8px * $hd;

            .left {
                float: left;
            }

            .right {
                float: right;
            }
        }
    }


}