@import "../variables.scss";

.menu {
    width           : 100%;
    list-style      : none;
    margin          : 0;
    padding         : 4px * $hd 0 0 0;
    border-top      : 1px * $hd solid #dddddd;
    background-color: #f8f8f8;
    height          : 50px * $hd;
    overflow-y      : hidden;
    display         : flex;
    flex-direction  : row;

    .item {
        color     : #777777;
        cursor    : pointer;
        text-align: center;

        .text {
            font-size : $font-size-sm;
            margin-top: 2px * $hd;
        }

        .at-icon {
            font-size: 25px * $hd;
        }
    }
}