@import "../variables.scss";

.single-colunm-products {
    $categories-width: 110px * $hd;
    display          : flex;
    flex-direction   : row;

    .categories {
        width           : $categories-width;
        // float        : left;
        border-top      : 1px * $hd solid #cccccc;

        .item {
            padding   : 10px * $hd;
            border    : solid 1px * $hd #cccccc;
            border-top: none;
            font-size : $font-size-base;

            &.active {
                font-weight: bold;
            }
        }
    }

    .product-list {
        padding-right   : 7px * $hd;
        padding-top     : 10px * $hd;
        // padding-left : $categories-width;
        width           : 100%;

        .item {
          
            &.spliter {
                border-bottom : 1px solid #cccccc;
                padding-bottom: 10px * $hd;
                margin-bottom : 10px * $hd;
            }
        }
    }

    .count-input {
        float: right;
    }


}